<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %> - UMassD ACM</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <meta name="description" content="<%= description %>" />
        <!--  -->
        <link rel="stylesheet" href="/css/master.css">
        <!--  -->
    </head>
    <body>
        <header>
            <img src="https://www.umassd.edu/media/supportingfiles/layoutassets/logos/umassd_logo.png" />
            <img src="https://www.acm.org/images/top-menu/acm_logo_tablet.svg" />
            <nav>
                <a href="/">Home</a>
            </nav>
        </header>
